{% extends 'base.html' %}

{% block title %} Admin {% endblock%}

{% block content %}

<div>
    <h1 class="title has-text-centered">Administrator Login</h1>
    <hr class="custom-hr">
</div>

{% if logged_in %}
    <div>
        <strong><p>Printing Seating Chart...</p><br></strong>
        <div class="custom-chart">
<strong>{% for row in show_seating_chart %}['{{ row[0] }}', '{{ row[1] }}', '{{ row[2] }}', '{{ row[3] }}']
{% endfor %}
</strong>

        </div>
        <br>
        <strong>Total Sales: "total sale here code" </total></strong>
        
        <h2 class="has-text-centered"><strong>Reservation List</strong></h2>
    </div>

    <form method="post">
        <input type="hidden" name="action" value="logout">
        <button type="submit">Logout</button>
    </form>
{% endif %}

{% if not logged_in %}
<form method="post">
    <label>Username</label><br>
        <input type="text" name="username" required><br>
    <label>Password</label><br>
        <input type="password" name="password" required>
    <br><br>
    <button type="submit">Login</button>
</form>
{% endif %}


{% endblock %}