<!-- This page contains structural data common to all pages -->
<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <br>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('admin') }}">Admin</a>
        <a href="{{ url_for('reserve') }}">Reservations</a>
        <hr class="custom-hr">
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>